<mat-toolbar color="primary">
    <button mat-icon-button (click)="onToggleSidenav()" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/']" mat-button>
        <h1>~~~| Fv David |~~~</h1>
    </a>
    <div fxFlex fxLayout fxLayoutAlign="end">
        <div fxHide.lt-md>
            <a [routerLink]="['/']" mat-button>User List</a>
            <a [routerLink]="['/services']" mat-button>Posts List</a>
            <a [routerLink]="['/about']" mat-button>Comments List</a>
            <a [routerLink]="['/contact']" mat-button>Tag List</a>
            <a [routerLink]="['/contact']" mat-button>Post by Tag</a>
        </div>
    </div>
</mat-toolbar>