<mat-progress-bar mode="indeterminate" *ngIf="!postComments"></mat-progress-bar>

<div mat-dialog-content *ngIf="postComments">

    <div fxLayout="row wrap" fxLayoutGap="grid">
        <div fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card *ngFor="let f of postComments.data">
                <mat-card-header>

                    <mat-card-title>
                        <span>
                            <img mat-card-avatar src="{{ f.owner.picture }}">
                            {{ f.owner.firstName | uppercase }}
                        </span>
                        <p style="font-size: 0.6em;">
                            {{ f.publishDate | date:'medium' }}
                        </p>
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <br />

                    {{ f.message }}
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>